@model IEnumerable<WEBPresentationLayer.Models.CarroSaidaSelectViewModel>
<div class="container">
    <h1>Carros No Estacionamento</h1>
    <div class="row">
        <form asp-controller="Carro" asp-action="Search" >
            <div class="input-group">
                <input class="form-control" type="text" name="searchString"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Placa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HorarioEntrada)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HorarioEntrada)
                    </td>
                    <td>
                        <li class="nav-item">
                            @Html.ActionLink("Registrar Saída", "InserirSaida", new { id=item.ID  }) |
                        </li>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>